<launch>
  <param name="debug" value="false" type="bool"/>

  <node name="world_board_node" pkg="blackboard" type="world_board_node" output="screen"></node>  

  <node name="robot4" pkg="web_serial" type="robot4_web_server"  output="screen">
    <param name="addr" value="192.168.1.104" type="str" />
    <param name="port" value="1115" type="int"/>
  </node>

  <node name="test_behavior" pkg="decision" type="test_behavior" output="screen" />

</launch>