<launch>
  <param name="debug" value="true" type="bool"/>

  <node name="world_board_node" pkg="blackboard" type="world_board_node" output="screen"></node>  

  <node name="robot4" pkg="web_serial" type="robot4_web_server" output="screen">
    <param name="addr" value="192.168.31.157" type="str" />
    <param name="port" value="1114" type="int"/>
  </node>

</launch>