<launch>
  <param name="debug" value="false" type="bool"/>
  <node name="robot1_" pkg="web_serial" type="robot1_web_server" output="screen">
    <param name="addr" value="192.168.31.101" type="str"/>
    <param name="port" value="1111" type="int"/>
  </node>
  <node name="robot2" pkg="web_serial" type="robot2_web_server" output="screen">
    <param name="addr" value="192.168.31.102" type="str"/>
    <param name="port" value="1112" type="int"/>
  </node>
  <node name="robot3" pkg="web_serial" type="robot3_web_server" output="screen">
    <param name="addr" value="192.168.31.103" type="str" />
    <param name="port" value="1113" type="int"/>
  </node>
  <node name="robot4" pkg="web_serial" type="robot4_web_server" output="screen">
    <param name="addr" value="192.168.31.104" type="str" />
    <param name="port" value="1114" type="int"/>
  </node>

</launch>