 <?xml version="1.0"?>
 <robot name="shoprobot">
 
    <link name="base_link">
      <visual>
        <geometry>
          <box size="0.21 0.16 0.01"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.0 0.00 0.065"/>
        <material name="blue">
          <color rgba="0 0 .8 1"/>
        </material>
      </visual>
    </link>

   </robot>