#! /usr/bin/env python

PACKAGE='shop_pid'

import roslib
roslib.load_manifest(PACKAGE)

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

#设备选择
equipment_enum = gen.enum([gen.const("move_motor",    int_t,0,"to config move_motor"),
                           gen.const("lift_motor",    int_t,1,"to config lift_motor"),
                           ],"a enum about equipment")

#config
gen.add("p",       double_t,    0,    "P Constant.", 0.1,     -10.00, 10.00)
gen.add("d",       double_t,    0,    "D Constant", 0.2,     -10.00, 10.00)
gen.add("i",       double_t,    0,    "I Constant.", 0.2,     -10.00, 10.00)

#test
gen.add("test",       bool_t,    0,    "test", False)

exit(gen.generate(PACKAGE, "shop_pid", "shopPID"))